
# --------------------------------------------------------------
# - .gitignore file for Keil uVision4 and uVision5 projects
# --------------------------------------------------------------
# - More info: keil.com/support/man/docs/uv4/uv4_b_filetypes.htm
# - To explicitly override the below, define any exceptions here 
# - e.g.: !my_customized_project_file.uvopt
# --------------------------------------------------------------

# 	User-specific uVision4/5 Files
# --------------------------------------------------------------
# - NOTE: .uvoptx is a mandatory file and tracked at the moment
# - This project options file contains debugger, trace settings   

*.opt
*.uvopt
*.uvgui
*.uvgui.*
*.uvguix.*

# 	Listing Files
# --------------------------------------------------------------

*.cod
*.htm
*.i
*.lst
*.map
*.m51
*.m66
*.scr

# 	Object and HEX Files
# --------------------------------------------------------------

*.axf
*.b[0-3][0-9]
*.hex
*.d
*.crf
*.elf
*.hex
*.h86
*.lib
*.obj
*.o
*.sbr

# 	Build Files
# --------------------------------------------------------------

*.bat
*._ia
*.__i
*._ii

# 	Generated Output Files
# --------------------------------------------------------------
# - Exclude all files from these project build directories 
# - Ignore the build directory and everything within it

/Listings/*
/Objects/*

# 	Debugger Files
# --------------------------------------------------------------
# - Includes files with the arrangement of a Windows folder

*.ini

# 	Other files
# --------------------------------------------------------------

*.build_log.htm
*.cdb
*.dep
*.ic
*.lin
*.lnp
*.orc
*.pack
*.pdsc
*.plg
*.sct
*.sfd
*.sfr
*.scvd

# 	Miscellaneous Files 
# --------------------------------------------------------------

*.tra
*.bin
*.fed
*.l1p
*.l2p
*.iex

*.com
*.dll
*.exe
*.o
*.so

# 	Packages		 		
# --------------------------------------------------------------
# - git uses built-in compression method
# - unpack these files and commit raw files instead

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


# 	OS Generated Files 			
# --------------------------------------------------------------
# - generated by Windows and MacOS

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# --------------------------------------------------------------